html{
   overflow-y: hidden;
}

body{
   margin: 0;
   background-color:black;
}
#canvas-container {
    width: 100%;
    height: 100%;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;

 }
#shade {
   width: 100%;
   height: 100%;
   position: absolute;
   background-color:black;
   top: 720;
   z-index: 10;
}
 .screen {
   height: 1440px; 
    width: 480px;
    background-image: url('./img/Level-Assets/Background/css-bg.png');
   position: absolute;
   z-index: -1;
   display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: -720px;
 }

 canvas {
    display: inline;
    background-color: transparent;
 }

 #main-menu {
    background-image: url('./img/MainMenu/Background.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    height: 720; 
    width: 480;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

 .button-container {
   width: 210px;
   padding-bottom: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
 }

/* CSS */
.button-19 {
padding: 0;
width: 80px;
height: 80px;
font-size: 30px;
display: flex;
background-color: aliceblue;
justify-content: center;
align-items: center;
border-radius: 10px;
cursor: pointer;
}

.button-19:hover {
   border-color: rgb(255, 153, 0);
   transform: scale(1.1);
}

.button-19 img {
   padding-bottom: 7px;
}

